.body_background 
{
    text-align: center;
    color: white;
    font-family: 'Amatic SC';
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}

#myCanvas
{
    margin-top: 10px;
	border: 10px;;
	background-color: white; 
	border-style:ridge;
    background-image:url(BirthdayImage.jpg);
    align-content: center;
    background-position:center;
    background-size:cover;
}

button {
    background-color: black;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    border-color: black;
    color: white;
    font-size: 25px;
    font-family: 'Amatic SC';
  }

